                   .------.
                  /        \
                .' /  \     `.
         _______|____________|


Server is Managed by Pilgrim Control Panel.

* Link: https://github.com/Clivern/Pilgrim
* Version: v{{ pilgrim_version }}
* Support Us: https://www.buymeacoffee.com/clivern
