                   .------.
                  /        \
                .' /  \     `.
         _______|____________|


Server is Managed by Midway Control Panel.

* Link: https://github.com/Clivern/Midway
* Version: v{{ midway_version }}
* Support Us: https://www.buymeacoffee.com/clivern
