{% load static %}
{% load i18n %}

<link rel="icon" href="{% static 'logo.svg' %}" type="image/icon type">

<style>
  @import url('https://rsms.me/inter/inter.css');
  :root {
    --tblr-font-sans-serif: Inter,-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif !important;
  }
</style>
<link href="{% static 'tabler/dist/css/tabler.min.css' %}" rel="stylesheet"/>
<link href="{% static 'tabler/dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
<link href="{% static 'tabler/dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
<link href="{% static 'tabler/dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
<link href="{% static 'tabler/dist/css/demo.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script type="text/javascript">
    let app_globals = {
      group_edit_url: "{% url 'app.web.admin.group.edit' '__' %}",
      group_delete_endpoint: "{% url 'app.api.v1.group.endpoint' '__' %}",
      group_list_url: "{% url 'app.api.v1.groups.endpoint' %}",

      key_delete_endpoint: "{% url 'app.api.v1.key.endpoint' '__' %}",
      key_list_url: "{% url 'app.api.v1.keys.endpoint' %}",
      generate_keys: "{% url 'app.api.v1.key.generate.endpoint' %}"
    };
    let _i18n = {
        confirm_msg: "{% trans 'Are you sure!' %}",
        required: "{% trans 'Please fill all required fields!' %}",
        resource_created: "{% trans 'Resource created successfully' %}",
        resource_updated: "{% trans 'Resource updated successfully' %}",
        resource_deleted: "{% trans 'Resource deleted successfully' %}"
    };
</script>
