{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load i18n %}

{% block page_content_header %}
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col-8">
        <h2 class="page-title">
          {% trans "SSH Key" %}
        </h2>
      </div>
      <div class="col-4">
        <div class="text-end">
          <a href="{% url 'app.web.admin.key.add' %}" class="btn btn-light">{% trans "Add New" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_theme %}
  theme-{{ profile.theme }}
{% endblock %}

{% block page_content_body %}
  <div class="page-body">
    <div class="container-xl" id="app_key_list">
      <div class="row row-cards">
        <div class="col-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-vcenter card-table table-striped">
                <thead>
                  <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Host" %}</th>
                    <th>{% trans "Created at" %}</th>
                    <th>{% trans "Updated at" %}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="key in keys">
                    <td>${key.name}</td>
                    <td class="text-muted">${key.hostsCount}</td>
                    <td class="text-muted">${key.createdAt}</td>
                    <td class="text-muted">${key.updatedAt}</td>
                    <td>
                      <a href="#" :endpoint="key.deleteLink" class="text-danger" v-on:click.prevent="deleteKey">
                        {% trans "Delete" %}
                      </a>
                    </td>
                  </tr>
                  <tr v-show="noRecords">
                    <td colspan="5" class="text-center text-muted">
                      {% trans "No Records Found!" %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-12 text-center" v-show="showLoad">
          <button v-on:click.prevent="getNextKeys" class="btn btn-light">{% trans "Load More!" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
