{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load i18n %}

{% block page_content_header %}
	<div class="row g-2 align-items-center">
	  <div class="col">
	    <h2 class="page-title">
	      {% trans "Settings" %}
	    </h2>
	  </div>
	</div>
{% endblock %}

{% block page_content_body %}
  <div class="page-body">
    <div class="container-xl" id="app_settings">
      <form class="card" action="{% url 'app.api.v1.settings.update.endpoint' %}" v-on:submit.prevent="settingsAction"  method="post">
        <div class="card-header">
          <h3 class="card-title">{% trans "Settings" %}</h3>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
