{% extends 'layouts/guest.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
    <div class="page page-center">
      <div class="container-tight py-4" id="app_install">
        <div class="text-center mb-4">
          <a href="{{ base_url }}" class="navbar-brand navbar-brand-autodark">
          	<img src="{% static 'logo.png' %}" height="100" alt="">
          </a>
        </div>
        <form class="card card-md" v-on:submit.prevent="installAction" action="{% url 'app.api.v1.install.install.endpoint' %}" data-redirect-url="{% url 'app.web.login' %}" method="post">
        	{% csrf_token %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">{% trans "Install Midway" %}</h2>
            <div class="mb-3">
              <label class="form-label">{% trans "Admin First Name" %}</label>
              <input type="text" class="form-control" placeholder="Enter admin first name" name="first_name" minlength="2" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "Admin Last Name" %}</label>
              <input type="text" class="form-control" placeholder="Enter admin last name" name="last_name" minlength="2" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "Admin Username" %}</label>
              <input type="text" class="form-control" placeholder="Enter admin username" name="username" minlength="2" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "Admin Email" %}</label>
              <input type="email" class="form-control" placeholder="Enter admin email" name="email" minlength="3" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "Admin Password" %}</label>
              <input type="password" class="form-control" name="password" placeholder="Enter admin password" minlength="6" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "App Name" %}</label>
              <input type="text" class="form-control" placeholder="Enter application name" name="app_name" minlength="3" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "App URL" %}</label>
              <input type="url" class="form-control" placeholder="Enter application url" name="app_url" minlength="3" required>
            </div>
            <div class="mb-3">
              <label class="form-label">{% trans "App Email" %}</label>
              <input type="email" class="form-control" placeholder="Enter application email" name="app_email" minlength="3" required>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Submit" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
