{% extends 'layouts/guest.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
    <div class="page page-center">
      <div class="container-tight py-4" id="app_login">
        <div class="text-center mb-4">
          <a href="{{ base_url }}" class="navbar-brand navbar-brand-autodark">
          	<img src="{% static 'logo.png' %}" height="50" alt="">
          </a>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert"></button>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert"></button>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form class="card card-md" v-on:submit.prevent="loginAction" action="{% url 'app.api.v1.auth.login.endpoint' %}" method="post">
        	{% csrf_token %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">{% trans "Login" %}</h2>
            <div class="mb-3">
              <label class="form-label">{% trans "Email Address" %}</label>
              <input type="email" class="form-control" name="email" placeholder="Enter the email" minlength="3" required>
            </div>
            <div class="mb-2">
              <label class="form-label">
                {% trans "Password" %}
                <span class="form-label-description">
                  <a href="/forgot-password">{% trans "Forgot Password?" %}</a>
                </span>
              </label>
              <div class="input-group input-group-flat">
                <input type="password" class="form-control" name="password" placeholder="Enter the password" minlength="6" required>
              </div>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Login" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
