{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Hustle</title>
    {% include 'partials/header.html' %}
    {% block customer_header %}
    {% endblock %}
  </head>
  <body class="border-top-wide border-primary d-flex flex-column">
    {% block page_content %}
    {% endblock %}
    {% include 'partials/footer.html' %}
  </body>
</html>
